.customer-container{
    display: block;
    
}
.customer-row{
    margin: 24px;
}
.cardBC{
    margin-bottom: 1.25rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 12px;
}
.card-default {
    border-top-width: 3px;
    border-color: #cfdbe2;
}
